* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #444;
    color: white;
}

.contenedor {
    background: #222;
    color: tomato;
    margin: 2rem;
    padding: 1rem;
}

.master {
    border: none;
    margin: 0;
}